/**
 * Copyright (C) 2017-2019 Jens Lechtenbörger
 *
 * SPDX-License-Identifier: LicenseRef-MIT-JL
 *
 * Theme for DBIS Group's slides
 */

/* Reduce width of TOC progress footer.
   Avoids overlap with navigation controls. */
#toc-progress-footer { width: 90%; }

/* Move footer columns to avoid overlap with audio controls. */
#toc-progress-footer-main { width: 60%; }
#toc-progress-footer-secondary { width: 40%; }
