<!--
   Copyright (C) 2017-2019 Jens Lechtenbörger
   SPDX-License-Identifier: CC-BY-SA-4.0
-->
<div class="top-logos">
    <a class="nooutlink" href="https://www.uni-muenster.de/en/"><img class="wwu-logo" src="title-slide/WWUMuenster_Logo_2017_rgb.svg" alt="Logo of University of Muenster, Germany (WWU Münster)" /></a>
    <a class="nooutlink" href="https://www.ercis.org/"><img class="ercis-logo" src="title-slide/ERCIS_logo_250.png" alt="Logo of European Research Center for Information Systems (ERCIS)" /></a>
</div>
<div class="talk-title">
  <h1 class="no-toc-progress">%t</h1>
</div>
<div class="talk-subtitle">
  <p>%s</p>
</div>
<div class="licensepointer">
  <p><a id="license-link" href="#slide-license">License Information</a></p>
</div>
