<!--
   Copyright (C) 2017-2019 Jens Lechtenbörger
   SPDX-License-Identifier: CC-BY-SA-4.0
-->
<div class="top-logos">
    <a class="nooutlink" href="https://www.uni-muenster.de/en/"><img class="wwu-logo" src="title-slide/WWUMuenster_Logo_2017_rgb.svg" alt="Logo of University of Muenster, Germany (WWU Münster)" /></a>
    <a class="nooutlink" href="https://www.wi.uni-muenster.de/department/dbis"><img class="dbis-logo" src="title-slide/DBIS-Logo2_RGB_Web.jpg" alt="Logo of DBIS Group" /></a>
</div>
<div class="course-title">
  <h1 class="no-toc-progress">%t</h1>
</div>
<div class="course-subtitle">
  <p>%s</p>
</div>
<div class="keyboard-usage">
    <p>(<a href="./index.html">Hinweise zur Nutzung</a> dieser Präsentation)</p>
</div>
<div class="course-context">
  <p>%d<br />
  %A %a (<a href="#slide-license">Lizenzhinweise</a>)</p>
</div>
<div class="course-group">
    <p><strong>DBIS Group</strong>
	<a class="nooutlink" href="https://www.ercis.org/"><img class="ercis-logo" src="title-slide/ERCIS-logo_rgb_small.png" alt="Logo of European Research Center for Information Systems (ERCIS)" /></a><br />
	<strong>Prof. Dr. Gottfried Vossen</strong><br />
	Lehrstuhl für Informatik<br />
	Institut für Wirtschaftsinformatik<br />
	WWU Münster</p>
</div>
